body.__prs_hide_viewed .js-file[data-file-user-viewed] {
  display: none !important;
}

[data-hidden=true] {
  display: none !important;
}

body.__prs_hide_comments #files .js-inline-comments-container {
  display: none !important;
}
