 #__prs_command_palette {
  background: #ddd;
  bottom: 0;
  display: none;
  flex-direction: column;
  padding: 10px 5px;
  position: fixed;
  right: 0;
  width: 400px;
  z-index: 9000;
}

#__prs_command_list {
  overflow-y: scroll;
  height: 150px;
}

#__prs_command_palette li.hidden{
  display: none;
}
  
#__prs_command_palette li.selected {
  background-color: #aaa;
}

#__prs_command_palette input {
  flex: 1 1 auto;
}
