.prs--reviewed {
  background-color: inherit;
}

.blob-num-addition.prs--reviewed {
  background-color: inherit;
  border-right: 1px solid green;
}

.blob-num-deletion.prs--reviewed {
  background-color: inherit;
  border-right: 1px solid red;
}

.blob-code-addition.prs--reviewed {
  background-color: inherit;
  border-color: none;    
}

.blob-code-deletion.prs--reviewed {
  background-color: inherit;
  border-color: none;
}
